# Core functionality - changes here should be rare!
/src/app.py                   @ayoubm11
/src/backend/database.py      @ayoubm11
/src/backend/routers/auth.py  @ayoubm11

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ayoubm11
